body {
  font-family: Helvetica;
  background-color: #eeeeee;
}

@supports (display:grid) {
  body > header {
    display: grid;
    grid: 1fr / 1fr;
  }
  nav{
    display: inline-grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    text-align: right;
  }

  main{
    display: grid;
    grid: 1fr / 1fr;
    text-align: center;
  }

  #skills > article, #downloads > article{
    display: grid;
    grid: 1fr / 1fr 1fr;
    justify-items: center;
  }
  #projects > article{
    display: grid;
    grid: 1fr / 1fr 1fr 1fr
  }

}



#skills section{
  text-align: left;
}
